[submodule "dependency/stable-diffusion.cpp"]
	path = dependency/stable-diffusion.cpp
	url = https://github.com/yownas/stable-diffusion.cpp
	branch = master
[submodule "dependency/llama.cpp"]
	path = dependency/llama.cpp
	url = https://github.com/yownas/llama.cpp-nexa.git
	branch = release
[submodule "nexa/eval/benchmark_tasks"]
	path = nexa/eval/benchmark_tasks
	url = https://github.com/yownas/benchmark-tasks.git
	branch = main
[submodule "dependency/bark.cpp"]
	path = dependency/bark.cpp
	url = https://github.com/yownas/bark.cpp.git
	branch = main
